*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace,sans-serif;
}

/* https://fontawesome.com/search?o=r&m=free&f=classic */

.container{
   width: 100%;
   height: 100vh;
   background-image: url(../img/login.jpg);
   background-position: center;
   background-size: cover;  
   position: relative; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-box {
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background: rgba(255, 255, 255, 0.15); /* Adjust the alpha value (0 to 1) for transparency */
    padding: 50px 60px 70px;
    text-align: center;
    border: 2px solid #ff0000; /* Red border */
}

/* @keyframes borderAnimation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.form-box {
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background: rgba(255, 255, 255, 0.15);
    padding: 50px 60px 70px;
    text-align: center;
    border: 2px solid transparent;
    animation: borderAnimation 6s linear infinite;
} */

.form-box h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #ff0000;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #ff0000;
    position: absolute;
    bottom: -12px;
    left : 50%;
    transform: translate(-50%);
}

.input-field{
   background: #eaeaea;
   margin: 15px 0;
   border-radius: 25px;
   display: flex;
   align-items: center;
} 
input{
    border: 0;
    background: transparent;
    width: 100%;
    padding: 20px 30px;
    font-size: 16px;
    border-radius: 25px;
    outline: 0;
    margin-left: 10px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
 }
.form-box input[type="text"]:hover, 
.form-box input[type="password"]:hover{
    background: #e4d9d9;
    transition: .5s;
}

form p{
    font-size: 16px;
    text-align: left;
    font-weight: 600;
}

form p a {
    text-decoration: none;
    color: #f5a607;
    text-shadow: 0 0 5px #ff0000;
}

form p a:hover {
    color: #ff0000 ;
    text-shadow: 0 0 5px #000000;   /* Change to blue color */
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: rgba(255, 0, 0, 0.15);
    color: #e4d9d9;
    font-size: 16px;
    font-weight: bolder;
    height: 40px;
    border-radius: 20px;
    border: 1;
    border-color: #f5a607;
    outline: 1;
    cursor: pointer;
    transition: background 1s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-field button:hover {
    background: linear-gradient(45deg, rgba(89, 0, 255, 0.288), rgba(255, 0, 128, 0.288));
    color: #e4d9d9;
    transition: background 1s;
}

.input-group{
    height: 280px;
}


.input-group2{
    height: auto;
}

.help-block {
    color: #f5a607;
    text-shadow: 0 0 5px #ff0000; /* Set the text color to red or your desired color */
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 10px; /* Adjust the margin as needed */
    margin-bottom: 1px;
    display: block; /* Ensure the span is displayed as a block element */
}