/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #ff0000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Navbar ===== */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
}

/* .logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--blue-color);
} */

.navbar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.navbar_content {
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 240px;
    column-gap: 25px;
    position: fixed;
    top: 0;
    right: 15px;

}

.navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--grey-color);
}

.navbar_content p {
    font-size: 20px;
}

.navbar_content b {
    font-size: 20px;
    color: #ff0000;
}

.navbar_content h1 {
    white-space: nowrap;
    position: fixed;
    display: flex;
    margin-right: 1050px;
    left: 270px;
    font-size: 30px;
    color: #ff0000;
}



/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}



.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}



/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .iconDrop {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    cursor: pointer;
    transition: var(--tran-05);
}


body.dark .navbar_content {
    background-color: var(--primary-color);
}



.sidebar .menu {
    margin-top: 40px;
}


.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

.donorSection {
    background-color: var(--primary-color-light);
    padding-top: 30px;
    padding: 30px;
    border-radius: 10px;

    margin-top: 100px;
    position: relative;
    transform-origin: top center;
    transition: transform 0.3s ease;
}



@media (max-width: 768px) {
    .donorSection {
        transform: scale(0.8);
    }
}

@media (min-width: 769px) and (max-width: 1920px) {
    .donorSection {
        transform: scale(0.9);
    }
}



.donorSection h2 {

    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.donorSection p {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    padding: 1px 60px;
}

.middle-content {
    display: flex;
    flex-wrap: wrap;
}

.middle-content a {
    color: #ff0000;
    font-size: 15px;
    text-decoration: none;
    padding: 40px;
    flex: 1;
    text-align: center;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 20px;
}

/* table style start from here */
.userInfo {
    background-color: var(--primary-color-light);
    padding: 30px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 100px;

    position: relative;
    transform-origin: top center;
    transition: transform 0.3s ease;
    align-items: auto;
}

/* Default styling for max-width up to 1366px */

/* Adjust max-width for windows size of browser is 1366px or less */
@media only screen and (max-width: 1366px) {
    .userInfo {
        max-width: 1700px;
    }
}

@media only screen and (max-width: 1920px) {
    .userInfo {
        max-width: 1280px;
    }
}

.tableInfo {
    position: relative;
    margin-top: 10px;
    /* Adjust the margin value as needed */
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 1px;
}
.tableInfo table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ddcaca;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddcaca;
    background-color: var(--primary-color-light);
    color: #000;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.4;
    position: relative;
    transform-origin: top center;
    transition: transform 0.3s ease;
}

.tableInfo::-webkit-scrollbar {
    width: 10px;
    /* Adjust the width of the scrollbar */
    color: #fa0000;
}

.tableInfo::-webkit-scrollbar-thumb {
    background-color: #474646;
    /* Adjust the color of the scrollbar thumb */
}